<h1>❌ Booking unconfirmed ❌</h1>

<h2>Hi <%= @booking.user.user_contact.first_name.capitalize %> <%= @booking.user.user_contact.last_name.capitalize %></h2>

<p>Your booking for <%= @booking.flat.name %> has not been validated by the landlord, <%= @booking.flat.user.user_contact.first_name.capitalize %> <%= @booking.flat.user.user_contact.last_name.capitalize %>.</p>
<br>
<%= cl_image_tag @booking.flat.photo.key , height: 300, width: 400, crop: :fill %>
<br>
<% night_number = @booking.end_date - @booking.start_date %>
<br>
<h3>Go to our website and check other possibilities</h3>
<br>
Thanks for joining our service! Please check back often.