
<div class="flat-form">
    <%= simple_form_for flat do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :price_per_night %>
      <%= f.input :tag_list, hint: I18n.t("views.forms.flat_form.tag_list_hint") %>
      <%= f.submit I18n.t("views.forms.flat_form.btn_submit"), class: "btn btn-confirm" %>
    <% end %>
</div>



