<div class="container">

  <h1><%= @flat.name %></h1>

  <%= link_to "Back to flat list", flats_path, class: "btn btn-back"  %>
  
  <div class="flat-container">
    <%= cl_image_tag @flat.photo.key , height: 300, width: 400, crop: :fill %>
    <h2><%= @flat.name %></h2>
    <p><%= @flat.description %></p>
    <div class="flat-infos">
      <p><%= @flat.address %></p>
      <p><%= @flat.price_per_night %> â‚¬</p>
    </div>
    <div class="flat-tags">
      <ul>
        <% @flat.tag_list.each do |tag| %>
          <li><%= tag %> </li>
        <% end %>
      </ul>
    </div>
    <div class="btn-box">
      <%#=  link_to "Book this flat ðŸ‘", %>
      
      <% if @flat.user == current_user %>
        <%= link_to "Modify",  edit_flat_path(@flat), class: "btn btn-cards"  %>
      <% else %>
        <button type="button" class="btn btn-cards" data-toggle="modal" data-target="#updateModal">
          Book now
        </button>
        <%= render "shared/booking_modal", flat: @flat, booking: @booking %>
      <% end %>
      
      <%= link_to "Delete", flat_path(@flat),
                            class: "service-submit-btn btn btn-delete",
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
    </div>
  </div>



</div>
