<div class="container">

  <%= link_to "Back to dashboard", dashboard_path, class: "btn btn-back"  %>

  <h1>Booking</h1>

  <div class="flat-container">
    <h2><%= @booking.flat.name %></h1>
     <%= cl_image_tag @booking.flat.photo.key , height: 300, width: 400, crop: :fill %>
    <p>📆 : Booking start on <%= @booking.start_date %></p>
    <p>📅 : Booking end on<%= @booking.end_date %></p>
    <p>🌙 : <%= @night_number.to_i %> nights</p>
    <p>For <%= @booking.guest_count %> persons</p>
    <p>----------------------</p>
    <p>Price per night : <%= @booking.flat.price_per_night %> €</p>
    <p>Total : <%= @night_number.to_i * @booking.flat.price_per_night %> €</p>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Modify booking
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "shared/booking_form", flat: @flat, booking: @booking %>
        </div>
      </div>
    </div>
  </div>

</div>