<div class="booking-container">
    <div class="flat-form">
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :guest_count %>
        <%= f.submit "Save my booking", class: "btn btn-confirm" %>
      <% end %>
    </div>
  </div>