<div class="cards-box">

  <% @flats.each do |flat| %>
    <div class="card-flat">
      <%= link_to flat_path(flat) do %>
        <%= cl_image_tag flat.photo.key, :crop=>"fill", :width=>300, :height=>150, class:"card-photo"%>
        <div class="card-infos">
          <h3><%= flat.name %></h3>
        
            <div class="flat-tags">
              <ul>
                <% flat.tag_list.each do |tag| %>
                  <li><%= tag %></li>
                <% end %>
              </ul>
            </div>
        
        </div>
      <% end %>
      <% if current_user == flat.user %>
        <%= link_to "Modify",  edit_flat_path(flat), class: "btn btn-cards"  %>
      <% else %>
        <%= link_to "Book", flat_path(flat), class: "btn btn-cards"  %>
      <% end %>
    </div>
    
    
  <% end %>

</div>