
<div class="container">
  <div class="col-12">

    <div class="cards-container">
      <h1>My flats</h1>
        <div class="cards-box">
          <% @flats_to_rent.each do |flat_to_rent| %>
            <div class="card-flat">
                <h3><%= link_to flat_to_rent.name, flat_path(flat_to_rent) %></h3>
                <div class="flat-infos">
                  <p><%= flat_to_rent.address %></p>
                  <p><%= flat_to_rent.price_per_night %> €</p>
                </div>
                <div class="flat-tags">
                  <ul>
                    <% flat_to_rent.tag_list.each do |tag| %>
                      <li><%= tag %></li>
                    <% end %>
                  </ul>
                </div>
              <%= link_to "Modify",  edit_flat_path(flat_to_rent), class: "btn btn-cards"  %>
            </div>
          <% end %>
        </div>
    </div>

    <div class="card-container">
      <h1>My bookings</h1>
        <div class="cards-box">
          <% @bookings.each do |booking| %>
            <% flat_booked = booking.flat %>
            <div class="card-flat">
              <h3><%= link_to flat_booked.name, flat_path(flat_booked) %></h3>
              <div class="flat-infos">
                <p><%= flat_booked.address %></p>
                <p><%= flat_booked.price_per_night %> €</p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    <%#= render "form", flat: @flat %>
  </div>
</div>
