
<div class="container">
  <div class="title-box">
    <h1 id="h1-home"><%= I18n.t("views.hello") %></h1>
    <h3><%#= I18n.t("sub_title_app") %></h3>
  </div>

  <div class="home-container">
    <div class="sub-container" id="home-book">
      <h2><%= I18n.t("views.title_action_find") %></h2>
      <p><%= I18n.t("views.sub_title_action_find") %></p>
      <%= link_to I18n.t("views.btn_action_find"), flats_path, class:"btn btn-cards"  %>
    </div>

    <div class="sub-container" id= "home-rent">
      <h2><%= I18n.t("views.title_action_share") %></h2>
      <p><%= I18n.t("views.sub_title_action_share") %></p>
      <%= link_to I18n.t("views.btn_action_share"), new_flat_path, class:"btn btn-cards"  %>
    </div>
  </div>

  <% @booking_by_state.each do |state, bookings| %>
    <h1><%= I18n.t("reservation_state.#{state}") %></h1>
    <% bookings.each do |booking| %>
        <%= render "shared/cards_booking_list", booking: booking %>
    <% end %>
  <% end  %>

</div>

